{% extends "base.html" %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/analysis/style.css' %}">


    <title>Rudenko I/O</title>
</head>
<body>

{% block content %}

    <ul class="list-group">
        <div class="container">
            <h3></h3>
            <div class="row">
                <div class="col-sm">
                    {% for pr in prb %}
                        <h5>Problem: {{ pr.title }}</h5>
                        <li class="list-group-item">{{ pr.description }}</li>
                        <li class="list-group-item">{{ pr.risks }}</li>
                        <li class="list-group-item">{{ pr.parts }}</li>
                        <li class="list-group-item">{{ pr.causes }}</li>
                        <li class="list-group-item">{{ pr.published }}</li>
                        <p></p>
                    {% endfor %}
                </div>
                <div class="col-sm">
                    {% for sl in slt %}
                        <h5>Solution: {{ sl.problem.title }}</h5>
                        <li class="list-group-item">{{ sl.research }}</li>
                        <li class="list-group-item">{{ sl.solutions }}</li>
                        <li class="list-group-item">{{ sl.resources }}</li>
                        <li class="list-group-item">{{ sl.plan }}</li>
                        <li class="list-group-item">{{ sl.test }}</li>
                        <p></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </ul>
{% endblock content %}

<script src="{% static '/analysis/script.js' %}"></script>
</body>
</html>