<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Analysis</title>
</head>
<body>


<ul class="list-group">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                {% for pr in prb %}
                    <h5>problem: {{ pr.title }}</h5>
                    <li class="list-group-item">{{ pr.description }}</li>
                    <li class="list-group-item">{{ pr.risks }}</li>
                    <li class="list-group-item">{{ pr.parts }}</li>
                    <li class="list-group-item">{{ pr.causes }}</li>
                    <li class="list-group-item">{{ pr.published }}</li>
                {% endfor %}
            </div>
            <div class="col-sm">
                {% for sl in slt %}
                    <h5>solution: {{ sl.problem.title }}</h5>
                    <li class="list-group-item">{{ sl.research }}</li>
                    <li class="list-group-item">{{ sl.solutions }}</li>
                    <li class="list-group-item">{{ sl.resources }}</li>
                    <li class="list-group-item">{{ sl.plan }}</li>
                    <li class="list-group-item">{{ sl.test }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>


</ul>

</body>
</html>