{% extends "base.html" %}

{% block content %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Successfully updated the information!</h4>
    </div>

    <ul class="list-group">
        <div class="container">
            <h3></h3>
            <div class="row">
                <div class="col-sm">
                    {% for sl in slt %}
                        <h5>Solution: {{ sl.problem.title }}</h5>
                        <h6>Research</h6>
                        <li class="list-group-item">{{ sl.research }}</li>
                        <p></p>
                        <h6>Solutions</h6>
                        <li class="list-group-item">{{ sl.solutions }}</li>
                        <p></p>
                        <h6>Resources</h6>
                        <li class="list-group-item">{{ sl.resources }}</li>
                        <p></p>
                        <h6>Plan</h6>
                        <li class="list-group-item">{{ sl.plan }}</li>
                        <p></p>
                        <h6>Test</h6>
                        <li class="list-group-item">{{ sl.test }}</li>
                        <p></p>
                        <a href="{% url 'delete_solution' sl.pk %}" class="btn btn-warning" role="button"
                           aria-pressed="true">Delete</a>
                        <a href="{% url 'update_solution' sl.pk %}" class="btn btn-warning" role="button"
                           aria-pressed="true">Update</a>
                        <p></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </ul>

{% endblock content %}